@import url('https://fonts.googleapis.com/css?family=Poiret+One'); 

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#root, .app {
  height: 100%;
}

body {
  background-color: white;
  font-family: 'Poiret One', cursive; 
}

input {
  clear: both;
}