@import url('https://fonts.googleapis.com/css?family=Poiret+One');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#root, .app {
  height: 100%;
}

nav {
  background-color: #E46F63;
  color: white;
  display: inline-block;
  float: left;
  width: 100%;

  li {
    display: inline-block;
    margin-right: 5%;
  }

  a {
    color: white;
    text-decoration: none;
    font-family: 'Poiret One', cursive; 
  }

}
