@import url('https://fonts.googleapis.com/css?family=Poiret+One');
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#root, .app {
  height: 100%;
}

nav {
  background-color: #E46F63;
  color: white;
  display: inline-block;
  float: left;
  width: 100%;
  font-size: 15px;
  ul {
    margin-top: 9px;
    margin-bottom: 7px;
  }
  li {
    display: inline-block;
    margin-right: 5%;
  }

  a {
    clear: both;
    color: white;
    text-decoration: none;
    font-family: 'Poiret One', cursive; 
    font-size: 0.75em;
  }

}
.icon {
  font-size: 1.95em;
}

.loggedOutHeader {
  float: left; 
}

.headerLogo {
  width: 50px;
  float: right;
  right: -100%;
  position: relative;
}

.headerText {
  font-family: 'Poiret One', cursive; 
  font-size: 2.69em;
  float: left;
  left: -26%;
  position: relative;
  font-weight: 100;
}