@import url('https://fonts.googleapis.com/css?family=Poiret+One');
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#root, .app {
  height: 100%;
}

body {
  background-color: white;
  font-family: 'Poiret One', cursive; 
}

input {
  clear: both;
}

.dashboard {
  font-family: 'Poiret One', cursive; 
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.businessNameProfile {
  text-align: left;
  color: #525252; 
  font-size: 1.25em;
  font-weight: 600;
  border-bottom: thin solid lightgray;
  padding-bottom: 5px;
}

.profileHeader {
  text-align: left;
  margin-left: 4%;
  margin-bottom: -17px;
  float: left;
  clear: both;
  width: 100%;
}

.rating {
  font-family: 'font-awesome';
  width: auto;
  margin: 0 auto;
  text-align: center;
}

.rating div {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 87%;
}

//business profile

.profileContainer {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;

}

.coverPhoto {
  width: 100%;
  height:200px;
  overflow: hidden;
}

.profilePhoto {
  max-width: 200px;
  max-height: 200px;
  width: 25%;
  margin: -12% 0 0 4%;
  display: block;
  img {
    width: 100%;
    border: thin solid white;
  }
}

.profileName {
  margin-top: -10%;
  float: left;
  display: block;
  margin: -12% 0 0 30%;
  width: 66.5%;
}

.subText, .subText2 {

  float: left;
  display: block;
}

.subText {
  font-family: Helvetica;
  font-weight: 100;
  
  width: 60%;
  text-align: left;
  border-right: thin solid lightgray;
  margin: 2px 0;
  .category {
    font-style: italic;
    margin-top: 3px;
  }
  .address {
    margin-top: 5px;
    font-size: 0.85em;
  }
}
.subText2 {
  font-family: Helvetica;
  font-weight: 100;
  width: 40%;
  text-align: right;
  margin-top: 7px;
}

.menu {
  background-color: #E46F63;
  float: left;
  width: 100%;
  padding-bottom: 16px;
}

.openPools {
  height: 200px;
  width: 100%;
  background-color: #BA9BC9;

}

.priceIcon {
  font-size: 1.3em;
  color: #E46F63;
  float: right;     
  margin-left: 10px;
}
.starIcon {
  margin: 0 auto;
  font-size: 2.85vmin;
  color: #E46F63;
  float: left;     
  margin-left: 4%;
  margin-top: 5px;
}

.openPools {
  float: left;
  clear: both;
}

.reviews {
  float: left;
  width: 97%;
  background-color: lightgray;
  max-height: 300px;
  overflow-y: scroll;
}

.reviewEntry {
  width: 100%;
  display: block;
  float: left;
  border-bottom: thin solid white;
  img {
    display: block;
  }
}



.reviewPhotoAndName {
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 15px;
  display: block;
  float: left;
  width: fit-content;
  max-width: 113px;
  text-align: center;
  .reviewPhoto {
    height: auto;
    display: block;
    width: 100%;
    
  }
  
  .reviewerName {
    clear: left;
    margin: 0 auto;
    display: block;
    position: relative;
    width: inherit;
  }
}

.reviewRating {
  margin-top: 5px;
  display: block;
  float: right !important;
  width: 18.5%;
  position: relative;
  .starIcon {
    margin-left: 1%;
    text-align: right;
    margin-top: 8%;
  }
}

.reviewText {
  float: left;
  margin-top: -6px;
  width: 65%;
  text-align: left;
  margin-left: 22px;
}

.reviewTime {
  float: right;
  margin-right: 12%;
  margin-top: 10px
}

@media screen and (max-width: 825px) {
  .profileName {
    margin-top: -10%;
    float: left;
    display: block;
    margin: -14% 0 0 32%;
    width: 64.5%;
  }
}


@media screen and (max-width: 480px) {

}

////////////////////////////////////////////////////////////////////////////////////////////////

//PAYMENT 

////////////////////////////////////////////////////////////////////////////////////////////////


.addressField {
  margin: 50px;
  padding: 50px;
}

.submitBtn button{
  background-color: #E46F63;
  color: white;
  max-width: 100px;
  border: none!important;
  font-family: 'Poiret One', cursive!important;
  text-align: center;
  font-size: 1.25em!important;
}


////////////////////////////////////////////////////////////////////////////////////////////////

//BUSINESS DASHBOARD

////////////////////////////////////////////////////////////////////////////////////////////////

.businessName {
  text-align: left;
  color: #525252; 
  font-size: 1.25em;
  font-weight: 600;
  border-bottom: thin solid lightgray;
  padding-bottom: 5px;
}

.driverContainer {
  display: block; 
  padding: 40px;
}

.driverHeader {
  margin: 100px;
}

.driverColumn {
  display: inline-block; 
}

.insideDriver {
  border: thin solid #7BB7C5;
  padding: 10px; 
  background-color: #7BB7C5; 
  height: 200px;
  float: left;
  display: block;
  margin-right: 2px; 
}

.statscontainer {
  background-color: lightgray;
  float: left;
  width: 100%;
  padding-bottom: 16px;
  height: 400px;
}



.dailyOrders {
  background-color: lightgray;
  border: thin solid lightgray; 
  padding: 10px; 
  margin: 5px;
  width: 20%;
  height: 190px;
}


.dashboarDeliveryTeam {
  float: left;
  width: 100%;
  padding-bottom: 16px;
  height: 200px; 
  text-align: left;
  margin: 5px; 
  button{
    float: left;
    height: 200px;
    color: white;
    background-color: #E46F63;
    border: #E46F63; 
    margin-right: 2px;
    width: 18%;
  }
}

.driversPicture {
  height: 130px;
  width: 155px;
  border: lightgrey; 
}

.dashboardOrders {
  float: left;
  width: 100%;
  padding-bottom: 16px;
  height: 200px; 
  text-align: left;
  margin: 5px; 
  button{
    float: left;
    height: 200px;
    color: white;
    background-color: #E46F63;
    border: #E46F63; 
    margin-right: 2px;
    width: 18%;
    font-family: 'Poiret One', cursive; 
  }
}

.insideOrder {
  border: thin solid #BA9CC8;
  padding: 10px; 
  background-color: #BA9CC8; 
  height: 200px;
  float: left;
  display: block;
  margin-right: 2px; 
}

.starIcon {
  color: #E46F63;
}