@import url('https://fonts.googleapis.com/css?family=Poiret+One');
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #282828
}
* {
  box-sizing: border-box;
  outline: none;
}
#root, .app {
  height: 100%;
}
body {
  background-color: white;
  color: #3d3d3d;
  text-align: center;
  font-family: Helvetica
}
input, label {
  clear: both;
  float: left;
  margin: 0 auto;
}
h1, h2, h3, h4 {
  font-family: 'Poiret One', cursive;
  font-weight: 100;
}
.heading {
  text-align: left;
  padding-left: 45px;
  h2 {
    margin-top: 9px;
  }
}
.NearByRestaurantsContainer {
  display: block; 
  width: 100%;
  margin-left: 0px;
  white-space: nowrap;
  overflow-y: hidden;
}
.restaurantsList {
  display: inline-block;
  background-color: #BA9BC9;
}
// .driverColumn {
//   display: inline-block; 
// }
.eachRestaurant {
  border: thin solid white; 
  padding: 10px; 
  background-size: auto;
  width: 225px;
  height: 225px;
  float: left;
  display: inline-block;
  overflow-x: hidden;
}
// feed
.FeedContainer {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
div .searchFeedContainer {
  border-bottom: thin solid lightgray;
  height: 95px;
}
.feedSearch {
  border: none;
  padding: 8px 10px 0px 45px;
  font-size: 1.3em;
}
.feedSearch::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a4a4a4;
  opacity: 1; /* Firefox */
}
input.feedSearch {
  color: #282828;
  font-weight: 100;
  width: 54%;
}
select {
  background-color: transparent;
  border: none;
  border-radius: 0px!important;
  border-left: thin solid #a4a4a4;
  border-image: initial;
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  font-size: 1.3em;
  margin-top: 3px;
  margin-right: -6%;
  overflow: hidden;
  padding: 5px 22px 1px 45px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 33%;
  color: #a4a4a4;
  font-weight: 100;
  position: relative;
  float: left;
  cursor: pointer;
  z-index: 2;
}
.hairline-down-arrow {
  width: 20px;
  height: 20px;
  position: relative;
  background-color: white;
  float:left;
}
.hairline-down-arrow:after {
  content: "";
  position: absolute;
  top: 33%;
  left: 54%;
  width: 14px;
  height: 14px;
  border-width: 0px 1px 1px 0px;
  transform: rotate(46deg) translate(-50%) skew(10deg, 10deg);
  transform-origin: left;
  border-style: solid;
  border-color: #a4a4a4;
  float: right;
}
.eachRestaurant {
}
.searchResultContainer {
  height: 225px;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  float: left;
}
.tileText {
  position: relative;
  margin-top: 86%;
  float: left;
  -webkit-text-fill-color: #3d3d3d; 
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: white;
  font-weight: 800;
  font-size: .85em;
  margin-left: 35px;
  text-shadow: 2px 2px 4px #000000;
  text-align: right;
  // width: 350px; 
  // margin: 0 auto; 
}

.profileHeader {
  text-align: left;
  margin-left: 4%;
  margin-bottom: -17px;
  float: left;
  clear: both;
  width: 100%;
}