@import url('https://fonts.googleapis.com/css?family=Poiret+One');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#root, .app {
  height: 100%;
}

body {
  background-color: white;
  color: #282828;
  text-align: center;
}

input, label {
  clear: both;
  float: left;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  font-family: 'Poiret One', cursive;
}

.profileContainer {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;

}

.coverPhoto {
  width: 100%;
  height:200px;
  overflow: hidden;
}

.profilePhoto {
  max-width: 200px;
  max-height: 200px;
  width: 25%;
  margin: -12% 0 0 9%;
  display: block;
  img {
    width: 100%;
  }
}

.profileName {
  margin-top: -10%;
  float: left;
  display: block;
  margin: -9% 0 0 38%;
}

.subText, .subText2 {
  width: 50%;
  float: left;
  display: block;
}

.menu {
  background-color: #E46F63;
}

.openPools {
  height: 200px;
  background-color: #BA9BC9;
}

.NearByRestaurantsContainer {
  display: block; 
}

.restaurantsList {
  display: inline-block;
}


// .driverColumn {
//   display: inline-block; 

// }

.eachRestaurant {
  border: thin solid gray; 
  padding: 10px; 
}