@import url('https://fonts.googleapis.com/css?family=Poiret+One');

ul {
  list-style-type: none;
  padding: 0;
  margin-left: 4%;
}

.exploreMenu {
  padding: 3% 18% 2% 0%;
  margin: 0 4% 4%;
  border: thin solid white;
  border-right: none;
  border-top: none;
  color: white;
  font-size: 1.45em;
}

.foodType {
  width: 15%;
  min-height: 135px;
  height: auto;
  float: left;
  border: thin solid white;
  padding: 3px;
  color: white;
  margin-right: -1px;
}

.foodType:hover {
  background-color: white;
  color: #E46F63;
  cursor: pointer;
}

.foodType div:hover {
  
}

.foodtype:first-child {
  margin-left: 4%;
}

.foodType div {
  margin-top: 40%;
  color: inherit;
  font-family: Helvetica, sans-serif;
  font-weight: 100;

}

.foodItem {
  width: 7.5%;
  min-height: 67.5px;
  height: auto;
  float: left;
  border: thin solid white;
  padding: 3px;
  color: white;
  
}

.foodItem:first-child {
  clear: left;
}

.foodItem div {
  margin-top: 25%;
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-size: 0.5em;
}


.cartButton button {
  float: right;
  height: 135px;
  color: #E46F63;
  background-color: white;
  margin-right: 4%;
}

// .profileHeader {
//   color: white; 
// }

.SubmitAddressButton {
  background-color: white;
  color: #E46F63;
  max-width: 120px;
  border: none!important;
  font-family: 'Poiret One', cursive!important;
  padding: 10px!important;
  text-align: center;
  font-size: 1em!important;
  
}

.deliveryAddContainer {
  height: 200px; 
  width: 50%; 
  input {
    clear: both;
    padding: 7px;
    width: 600px;
    margin-left: 30px;
    margin-top: 10px;
  }
  input::-webkit-input-placeholder {
    font-family: 'Poiret One', cursive;
  }
}