node_modules/
bundle.js
bundle.js.map
.env
.DS_stores
.DS_store 
env.data.js

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log

build
vagrant
.lock-wscript

*.css
.env.sample.js
